body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.container{
    position: relative;
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}