body{
    font-family: 'Lato', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.container{
    position: relative;
    width: 75%;
    padding: 0 30px;
    margin: 0 auto;

    @include laptop{
        width: 100%;
        padding: 0 16px;
    }
}